.pwh-floor {
    margin-right: 10px;
}

.pwh-cont-user {
    visibility: hidden;
}

.pwh-author {
    font-weight: bolder;
    text-decoration: underline;
}

.pwh-hl-hover {
    background-color: rgba(255, 255, 255, 0.25);
}