.pwh-floor {
    margin-right: 10px;
}

.pwh-cont-user {
    visibility: hidden;
}

.pwh-author {
    font-weight: bolder;
    text-decoration: underline;
}

.pwh-hl-hover {
    background-color: rgba(255, 255, 255, 0.15);
}

#topbar .pwh-topbar-icon-wrapper {
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
    padding: 0 9px;
}

#topbar .pwh-hidden {
    display: none;
}

#topbar #pwh_btn_focus_input:checked ~ #pwh_btn_focus_label > .pwh-topbar-icon-wrapper,
#topbar #pwh_btn_fold_input:checked ~ #pwh_btn_fold_label > .pwh-topbar-icon-wrapper {
    background-color: brown;
}

#topbar .pwh-topbar-btn {
    padding: 0;
}

#topbar .pwh-topbar-icon {
    width: 20px;
    height: 20px;
}

.pwh-dim-bg, .pwh-dim-bg > span.hl, .pwh-dim-bg > span.push-content {
    color: rgb(70, 70, 70);
}

.pwh-fold-reply {
    display: none;
}
